<p>Please just work!</p>
{{!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12" id="title">
            Eat Da Burger!
        </div>

        <div id="main">

            <div id="burger-display">

                <div id="not-devoured">
                    <h2>Burgers:</h2>
                    <ul>
                        {{#each burgers}}
                        {{#unless this.devoured}}

                        {{this.id}}
                        {{this.burger_name}}

                        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button type="submit">Devour!</button>
                        </form>

                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>

                <div id="devoured">
                    <h2>Devoured Burgers:</h2>
                    <ul>
                        {{#each burgers}}
                        {{#if this.devoured}}

                        {{this.id}}
                        {{this.burger_name}}

                        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="false">
                        </form>

                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12" id="title">
            <h2>Add a Burger for you to Eat!:</h2>
        </div>
        <div id="input">
            <form class="create-update-form" action="burgers/create" method="POST">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="burger_name">
                </div>

                <button id="add-burger-button" type="submit">Add Burger</button>

            </form>
        </div>
    </div>
</div> --}}